body {
    font-family: cursive;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    background-color: #3ffbf7;
    height: 4444px;
}

.left {
    position: absolute;
    left: 12px;
    margin: 14px auto;


}

.left img {
    width: 136px;
    border-radius: 70px;
}

.left div {
    text-align: center;
    color: black;
    font-size: x-large;
}

.centre {
    display: block;
    margin: auto auto;
    text-align: center;
    width: 60%;
    font-size: xx-large;

}

.right {
    position: absolute;
    right: 12px;
    top: 35px;
    margin: 12px 12px;
}

.right button:hover {
    cursor: pointer;
    color: #3ffbf7;
    background-color: #000000;
}

.nev {
    display: inline-block;
}

.nev li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.nev li a {
    color: black;
    text-decoration: none;
    padding: 0px 11px;
    border-radius: 38px;
}

.nev li a:hover {
    cursor: pointer;
    color: #3ffbf7;
    background-color: #000000;
}

.btn {
    margin: 0px 5px;
    font-size: x-large;
    border-radius: 13px;
}

#wel {
    color: #000000;
    margin: auto auto;
    width: 41%;
    font-size: xxx-large;
    display: block;
    padding-top: 90px;
    text-align: center;
}

.form {
    border: 2px solid rgb(2, 255, 232);
    display: inline-block;
    padding: 0px 70px 70px;
    display: block;
    margin: 50px auto;
    text-align: center;
}


#img {

    float: right;
    width: 700px;
    margin: 64px 55px 0px 0px;

}

.form h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 0%;
    color: #02ffe8;
}

.fill input {
    border-radius: 9px;
    display: block;
    text-align: center;
    font-size: 21px;
    margin: 6px auto;

}

.submit {
    margin: auto auto;
    padding: 5px;
    border-radius: 5px;
    padding-top: 5px;
}


.submit input {
    border-radius: 12px;
    font-size: 28px;
    text-align: center;
    padding: 2px;
}

.submit input:hover {
    cursor: pointer;
    color: #3ffbf7;
    background-color: #000000;
}
